[Unit]
Description=Enable the DIYB Beagle Light software (sound volume,pru firmware, start the pru, and the software"
After=generic-board-startup.service

[Service]
Type=idle
User=root
WorkingDirectory=/root/startup
ExecStart=/root/startup/startShowClient.sh

[Install]
WantedBy=multi-user.target
